/frontend/target/
*.jar
*.original
backend/target/classes/.netbeans_automatic_build
*.class
frontend/node/npm
backend/target/test-classes/.netbeans_automatic_build
backend/target/surefire-reports/za.co.phyllis.robertson.home.HelloControllerEmbeddedServerTest.txt
backend/target/surefire-reports/TEST-za.co.phyllis.robertson.home.HelloControllerEmbeddedServerTest.xml
backend/target/surefire-reports/2022-06-21T18-36-02_314-jvmRun1.dump
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/target/maven-archiver/pom.properties
backend/target/dependency-maven-plugin-markers/za.co.phyllis.robertson.home-frontend-jar-0.1-SNAPSHOT.marker
backend/target/classes/static/vendor.js.map
backend/target/classes/static/vendor.js
backend/target/classes/static/styles.css.map
backend/target/classes/static/styles.css
backend/target/classes/static/runtime.js.map
backend/target/classes/static/runtime.js
backend/target/classes/static/polyfills.js.map
backend/target/classes/static/polyfills.js
backend/target/classes/static/META-INF/maven/za.co.phyllis.robertson.home/frontend/pom.xml
backend/target/classes/static/META-INF/maven/za.co.phyllis.robertson.home/frontend/pom.properties
backend/target/classes/static/META-INF/MANIFEST.MF
backend/target/classes/static/main.js.map
backend/target/classes/static/main.js
backend/target/classes/static/index.html
backend/target/classes/static/favicon.ico
backend/target/classes/static/.netbeans_automatic_build
backend/target/classes/META-INF/spring-configuration-metadata.json
backend/target/classes/logback.xml
backend/target/classes/db/changelog/release-1.0/changelog_user_tables.xml
backend/target/classes/db/changelog/changelog-master.xml
backend/target/classes/application.properties
frontend/node/npm
frontend/node/npm
